/*----------------------------------------------------*\
	CODE
\*----------------------------------------------------*/

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
	width: 100%;
	height: 100%;
	font-family: 'Work Sans', sans-serif;
}
	
.row {
	font-size: 1.4em;
	font-weight: lighter;
	
	background: url(../img/gradient.png) no-repeat center center; 
}

h2 {
	font-size: 74px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: center
}

h3 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

.cantactme {
	margin: auto;
}

.cantactme p {
	text-align: center;
}

.imp {
	font-weight: 400;
}

/*----------------------------------------------------*\
	LARGE DESKTOP
\*----------------------------------------------------*/

@media screen and (min-width: 1200px) {
	
	.row {
		width: 100%;
		min-height: 100%;
		height: auto;
		overflow-y: auto;
		padding: 0;
		margin: 0;
		display: table;
	}

	.contentCentered {
		display:table-cell;
		vertical-align: middle;
	}
}


/*----------------------------------------------------*\
	PORTRAIT TABLET TO LANDSCAPE AND DESKTOP
\*----------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
	
	.row {
		width: calc(100% + 15px);
		min-height: 100%;
		height: 100%;
		display: table;
	}

	.contentCentered {
		display:table-cell;
		vertical-align: middle;
	}
}



/*----------------------------------------------------*\
	LANDSCAPE PHONE TO PORTRAIT TABLET
\*----------------------------------------------------*/

@media screen and (min-width: 768px) and  (max-width: 991px) {
	
	.row {
		width: calc(100% + 15px);
		min-height: 100%;
		height: 100%;
		display: table;
	}

	.contentCentered {
		display:table-cell;
		vertical-align: middle;
	}
}



/*----------------------------------------------------*\
	LANDSCAPE PHONES AND DOWN
\*----------------------------------------------------*/

@media screen and (max-width: 767px) {

	body {
		height: 100%;
	}
	
	h2 {
		font-size: 38px;
	}
	
	h3 {
		font-size: 19px;
	}
	
	.row {
		width: 100%;
		height: 100%;
		font-size: 1.0em;
		margin: 0;
		padding: 0;
		background: none;
		display: table;
	}

	.contentCentered {
		padding: 0;
		display:table-cell;
		vertical-align: middle;
	}
}
